<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<nav class="nav">
<h1 class="logo"><a href="#">Joe's Sloppy Pizza</a></h1>
  <ul class="main-nav">
    <li>
      <a href="/pizza-orders">All Orders</a>
    </li>
    <li>
      <a href="/pizza-orders/new">Create Order</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>